# scarab/.git # The .git directory is needed by scarab/src/make!

# Exclude build files.
**/build

# Exclude experiment folders, which become quite large.
**/experiments

# Python Artifacts
**/__pycache__

# CMake artifacts
**/CMakeFiles
**/cmake_install.cmake
**/CMakeCache.txt

# Temporary excludes. The following files are present on my (Paul's) system and shouldn't be included, but also won't generally be present so this section can later be deleted.
examples/acc_example/data_out_backups
examples/acc_example/saved_data_out_files