CMakeCache.txt
CMakeFiles/*
# CTestConfiguration.ini
# CTestCustom.cmake
CTestTestfile.cmake
# Makefile
# ament_cmake_core/
# ament_cmake_environment_hooks/
# ament_cmake_index/
# ament_cmake_package_templates/
# ament_cmake_uninstall_target/
# cmake_install.cmake
install/
log/
build/